body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ededed;
    color: #333;
}

button,
input {
    cursor: pointer
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    background-color: #ededed;
    color: #333;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    width: 900px;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #fefefe;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #333;

}

.modes-button {
    margin: 0 auto;
    padding: 0.5rem 1rem;

}


#reset {
    display: block;
    margin: 0 auto;

}

button:hover {
    transform: scale(1.05);
}

.instructions h2 {
    padding: 0;
    margin: 0;
}



.grid-range {
    margin-top: 20px;
    font-size: 1.5em;
    font-style: italic;
}

.box {
    background-color: #fefefe;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}


.active-button {
    background-color: #333;
    color: #ededed;
}

button:active {
    background-color: #333;
    color: #ededed;
}